In [1]:
import kagglehub
import os
import pandas as pd

c:\Users\ENVY\OneDrive\Desktop\projects\ecommerce-customer-intelligence\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:

dataset_path = kagglehub.dataset_download("carrie1/ecommerce-data")
print("Dataset path (cached):", dataset_path)

Dataset path (cached): C:\Users\ENVY\.cache\kagglehub\datasets\carrie1\ecommerce-data\versions\1

In [4]:

if os.path.isdir(dataset_path):
    print("Files in dataset folder:", os.listdir(dataset_path))
else:
    print("The dataset path is not a folder:", dataset_path)

Files in dataset folder: ['data.csv']

In [5]:
dataset_folder = 'C:\\Users\\ENVY\\.cache\\kagglehub\\datasets\\carrie1\\ecommerce-data\\versions\\1'
csv_file = os.path.join(dataset_folder, 'data.csv')
df = pd.read_csv(csv_file,encoding='latin1')
print("Dataset shape:", df.shape)
df.head()

Dataset shape: (541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [6]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [7]:
df.shape

(541909, 8)

In [8]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [10]:
df.dropna(inplace=True)

In [12]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [ ]:
for x in df.index:
  if df.loc[x,'Quantity'] < 0:
    df.drop(x, inplace=True)